<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711031259630-qc9v310iltdjcg4jmots0u21o1jb5uj5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711031259630-qc9v310iltdjcg4jmots0u21o1jb5uj5</string>
	<key>API_KEY</key>
	<string>AIzaSyCljVO890NhMmNui9bpaTl8qDjbNuojfuE</string>
	<key>GCM_SENDER_ID</key>
	<string>711031259630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.nadliw.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-60558</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-60558.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711031259630:ios:0bfcbb41a9310fbb99ceff</string>
</dict>
</plist>